@page
@model SistemaDeGestionDeReservas.Pages.Salas.SalasModel
@{
    ViewData["Title"] = "Gestión de Salas";
}

<h2>@ViewData["Title"]</h2>

<table class="table mt-3">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Capacidad</th>
            <th>Disponibilidad</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var sala in Model.Salas)
        {
            <tr>
                <td>@sala.Nombre</td>
                <td>@sala.Capacidad</td>
                <td>@(sala.Disponibilidad ? "Disponible" : "No Disponible")</td>
                <td>
                    <a asp-page="./CrearEditarSala" asp-route-id="@sala.Id" class="btn btn-primary btn-sm">Editar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<a asp-page="./CrearEditarSala" class="btn btn-success mt-3">Crear Nueva Sala</a>